@model IEnumerable<Shopping_Website_2020.Models.tb_user>

@{
    ViewBag.Title = "user_info";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h2>user_info</h2>


<table id="jdtable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entry_date)
            </th>
            
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.entry_date)
                </td>
                
            </tr>
        }
    </tbody>


</table>
